#sub_list{
    list-style:none;
    margin:0;
    padding:0;
    width:190px;
}
#sub_list li{padding: 10px; 
   background:#FAFAFA;
   border-bottom:#F0F0F0 1px solid;
}
#sub_list li:hover{
    background:#F0F0F0;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2016, 8:10:01 PM
    Author     : Inori
*/

